@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

@font-face {
	font-family: InterRegular;
	src: url('../fonts/Inter-Regular.woff2');
}
@font-face {
	font-family: InterBold;
	src: url('../fonts/Inter-Bold.woff2');
}
@font-face {
	font-family: InterExtraBold;
	src: url('../fonts/Inter-ExtraBold.woff2');
}

.about-title {
	font-family: InterExtraBold;
	color: transparent;
	-webkit-text-stroke: 1px #f1e7db;
}

.about-subtitle {
	font-family: InterRegular, Arial, Helvetica, sans-serif;
}

.about-a:hover {
	font-size: 105%;
	color: #3cac86;
	transition: 0.3s;
	transform: translateX(2em);
}

.about-a {
	transition: 0.3s;
}

li i .about-a {
	display: block;
}

.about-a::before {
	display: block;
	font-size: 110%;
}
